.main-block {
    /* position: absolute; */
    content: "";
    width: 370px;
    height: 370px;
    margin: 10%;
    /* background-color: #5a5a5a; */
    background-color: #6c6060;
    border-radius: 1%;
    padding-top: -1px;
    margin-left: auto;
    margin-right: auto;
}

.num-block {
    position: absolute;
    content: "";
    background-color: #8e8181;
    border-radius: 4%;
    /* text-align: center; */
    width: 80px;
    height: 80px;
    /* margin: 10px; */
    /* margin-right: -4px; */
    /* margin-bottom: 0; */
    border: none;
    
    font-size: 40px;
    
    color: white;

    /* vertical-align: middle; */
}

.num-block span{
    position: absolute;
    width: 100%;
    /* font-size: 4vw; */
    text-align: center;
    font-weight: bold;
    padding-top: 0.5em;
}

.h-0 {
    transition: 0.2s;
    margin-left: 10px;
}

.h-1 {
    transition: 0.2s;
    margin-left: 100px;
}

.h-2 {
    transition: 0.2s;
    margin-left: 190px;
}

.h-3 {
    transition: 0.2s;
    margin-left: 280px;
}

.v-0 {
    transition: 0.2s;
    margin-top: 10px;
}

.v-1 {
    transition: 0.2s;
    margin-top: 100px;
}

.v-2 {
    transition: 0.2s;
    margin-top: 190px;
}

.v-3 {
    transition: 0.2s;
    margin-top: 280px;
}

/* // all colors were generated */
/* // with plain hue shift and */
/* // fixed saturation and value */

.n-1 {
    background-color: #7187ca;
    color: #4f3333;
}

.n-2 {
    background-color: #71c7ca;
    color: #4f3333;
}

.n-3 {
    background-color: #71ca98;
    color: #4f3333;
}

.n-4 {
    background-color: #86ca71;
    color: #4f3333;
}

.n-5 {
    background-color: #c6ca71;
    color: #4f3333;
}

.n-6 {
    background-color: #ca8871;
    color: #4f3333;
}

.n-7 {
    font-size: 35px;
    background-color: #ca718e;
    color: #4f3333;
}

.n-7 span {
    padding-top: 0.65em;
}

.n-8 {
    font-size: 35px;
    background-color: #ca71b8;
    color: #4f3333;
}

.n-8 span {
    padding-top: 0.65em;
}

.n-9 {
    font-size: 35px;
    background-color: #ae71ca;
    color: #4f3333;
}

.n-9 span {
    padding-top: 0.65em;
}


.n-10 {
    font-size: 30px;
    background-color: #751c9d;
    /* color: #4f3333; */
}

.n-10 span {
    padding-top: 0.85em;
}

.n-11 {
    font-size: 30px;
    background-color: black;
    color: #white;
}

.n-11 span {
    padding-top: 0.85em;
}

.n-n {
    font-size: 30px;
    background-color: black;
    color: white;
}

.n-n span {
    padding-top: 0.85em;
}

